<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='模组测试结果报表'"></head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div>
			<form id="searchFrom" class="layui-form layui-form-pane"
				lay-filter="searchFrom" method="post" action=""
				style="margin-top: 5px; margin-left: 10px;">
				<div class="layui-form-item" style="margin-bottom: 0px">
					<div class="layui-inline">
						<label class="layui-form-label">工单号</label>
						<div class="layui-input-inline" style="width:220px;">
							<input type="text" placeholder="请选择工单号" name="taskNo"
								id="taskNo" class="layui-input"
								style="position: absolute; z-index: 2; width: 88%;" autocomplete="off">
								 <select id="taskNoSelect" lay-filter="taskNoSelect"
								  autocomplete="off" placeholder="请选择工单号" 
								  class="layui-select" lay-search>
							</select>
						</div>
						<label class="layui-form-label">产品编码</label>
						<div class="layui-input-inline" style="width: 170px;">
						  <input id="prodCode" name="prodCode" autocomplete="off" disabled 
								style="background: #efefef;" class="layui-input" type="text" />
						</div> 
						<label class="layui-form-label">型号</label>
						<div class="layui-input-inline" style="width: 170px;">
						  <input id="prodType" name="prodType" autocomplete="off" disabled 
								style="background: #efefef;" class="layui-input" type="text" />
						</div> 
					</div>
				</div>
				<div class="layui-form-item" style="margin-bottom: 0px">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">模组码</label>
						<div class="layui-input-inline" style="width: 220px;">
							<input type="text" class="layui-input" name="batNo"
								placeholder="请输入模组码" id="batNo">
						</div>

						<label class="layui-form-label layui-required">开始时间</label>
						<div class="layui-input-inline" style="width: 170px;">
							<input type="text" class="layui-input" name="begTime"
								placeholder="请选择开始日期时间" id="begTime">
						</div>

						<label class="layui-form-label layui-required">结束时间</label>
						<div class="layui-input-inline" style="width: 170px;">
							<input type="text" class="layui-input" name="endTime"
								placeholder="请选择结束日期时间" id="endTime">
						</div>

						<button class="layui-btn layui-btn-sm" lay-submit
							lay-filter="searchSubmit">统计</button>
						<button type="reset"
							class="layui-btn layui-btn-primary layui-btn-sm" title="重置">
							<i class="layui-icon">&#xe669;</i>重置
						</button>
					</div>
				</div>
			</form>
			<table id="listTable" lay-filter="listTable"></table>
		</div>
		<script th:inline="javascript">
	    var context = [[@{/}]];
        var taskNoList=[[${taskNoList}]];
     </script>
		<script th:src="@{/js/lyt/45112.js}" src="/js/lyt/45112.js"></script>
	</div>
</body>
</html>